src/main/wadl/resources/wadl/book.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://superbooks" attributeFormDefault="unqualified" elementFormDefault="unqualified"
           targetNamespace="http://superbooks">
  <xs:include schemaLocation="chapter.xsd"/>
  <xs:element name="thebook" type="tns:book"/>
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:thechapter"/>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="book2">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>