src/main/wadl/resources/wadl/chapter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://superbooks" attributeFormDefault="unqualified" elementFormDefault="unqualified"
           targetNamespace="http://superbooks">
  <xs:element name="thechapter" type="tns:chapter"/>
  <xs:complexType name="chapter">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>